<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <% for (let i = 0; i < posts.length; i++) { %>
    <div>
        <h2>
            <a href="/main/<%=posts[i].id%>">
                <%=posts[i].title%>
            </a>
        </h2>
        <p>
            <%=posts[i].createdAt.toDateString()%>
        </p>
    </div>
    <% } %>
</body>
</html>