<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <% for (let i = 0; i < posts.length; i++) { %>
    <div class="index-div">
        <div class="index-img-div">
            <img class="index-img img-thumbnail" src="<%=posts[i].img%>" alt="picture of post titled <%=posts[i].title%>">
        </div>
        <div class="index-info">
            <h2>
                <%=posts[i].title%>
            </h2>
            <p>
                <%=posts[i].createdAt.toDateString()%>
            </p>
            <p>
                Viewed: <%=posts[i].views%>
            </p>
        </div>
        <div class="view-memory-div">
            <a href="/main/<%=posts[i].id%>/<%=posts[i].views%>">
                <input class="btn btn-primary" type="button" value="View Memory">
            </a>
        </div>
    </div>
    <% } %>
</body>
<!-- Javascript partial -->
<%- include('./partials/js.ejs') %>
</html>