<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <img class="banner" src="https://images.vailresorts.com/image/upload/c_scale,dpr_3.0,f_auto,q_auto,w_500/v1/Mt%20Snow/Heros/Brochure/About%20The%20Mountain/Mountain%20Info/SO_snowytreetop_HERO.jpg" alt="forest trail">
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <% for (let i = 0; i < posts.length; i++) { %>
    <div class="index-div">
        <div class="index-img-div">
            <img class="index-img img-thumbnail" src="<%=posts[i].img%>" alt="picture of post titled <%=posts[i].title%>">
        </div>
        <div class="index-info">
            <h2>
                <%=posts[i].title%>
            </h2>
            <p>
                <%=posts[i].createdAt.toDateString()%>
            </p>
            <p>
                Viewed: <%=posts[i].views%> | Comments: <%=posts[i].comments.length%> | Likes: <%=posts[i].likes%>
            </p>
        </div>
        <div class="view-memory-div">
            <a href="/main/<%=posts[i].id%>/<%=posts[i].views%>">
                <input class="btn btn-primary" type="button" value="View Memory">
            </a>
        </div>
        <div class="like-btn">
            <a href="/main/<%=posts[i].id%>/likes/<%=posts[i].likes%>">
                <input class="btn btn-primary" type="button" value="Like">
            </a>
        </div>
    </div>
    <% } %>
    <footer class="mt-5 card-footer text-muted">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
<!-- Javascript partial -->
<%- include('./partials/js.ejs') %>
</html>