<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <div class="show-div">
        <h1 class="text-center">
            <%=post.title%>
        </h1>
        <p class="text-center">
            Memory made on: <%=post.createdAt.toDateString()%>
        </p>
        <p class="text-center">
            Viewed: <%=post.views%> | Comments: <%=post.comments.length%> | Likes: <%=post.likes%>
        </p>
        <img class="show-img" src="<%=post.img%>" alt="picture of post titled <%=post.title%>">
        <p class="text-center fs-5">
            <%=post.thoughts%>
        </p>
        <div class="show-btns">
            <!-- home button -->
            <a class="mx-3 btn btn-success" href="/main">Home</a>
            <!-- edit button -->
            <a class=" mx-3 btn btn-primary" href="/main/<%=post.id%>/edit">Edit</a>
            <!-- delete button; possibly have warning box pop up? -->
            <form action="/main/<%=post.id%>?_method=DELETE" method="POST">
                <input class="mx-3 btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
        <!-- comments section -->
        <h3 class="mt-4 text-center">Comments</h3>
        <% if (post.comments.length > 0) { %>
        <div class="comments-section">
            <div class="comments-show-div">
                <% for (let i = 0; i < post.comments.length; i++) { %>
                    <p class="text-center">
                        <%=post.comments[i]%>
                    </p>
                <% } %>
            </div>
            <% } %>
            <form class="mt-4 comments-submit-form" action="/main/<%=post.id%>/comments?_method=PUT" method="POST">
                <textarea name="comments" id="" cols="40" rows="5"></textarea>
                <input class="mt-3 btn btn-light comments-btn" type="submit" value="Comment">
            </form>
        </div>
    </div>
    <footer class="mt-5 card-footer text-muted">
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>