<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <h1>
        <%=post.title%>
    </h1>
    <p>
        Memory made on: <%=post.createdAt.toDateString()%>
    </p>
    <img src="<%=post.img%>" alt="picture of post titled <%=post.title%>">
    <p>
        <%=post.thoughts%>
    </p>
    <a href="/main/<%=post.id%>/edit">EDIT</a>
    <!-- delete button; possibly have warning box pop up? -->
    <form action="/main/<%=post.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
</body>
</html>